/*------------------------------------*\
  PDCTO - Positioning, Display & Box
	Model, Color, Text, Other
\*------------------------------------*/

/*------------------------------------*\
  Code
\*------------------------------------*/

/**
 * Base
 **/

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html,
body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100%;

  margin: 0;
  padding: 0;
}

html {
	font-family: Lora, Arial, serif;
	font-size: 100%;
	line-height: 1.4;
	padding: 0;
	margin: 0;

  background-color: #060708;
  color: #daeefd;
}

body {
	display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	padding: 7vw;

  background-color: #14273a;
	color: white;
}

h1, h2, h3, p {
	margin-top: 0.8em;
	margin-bottom: 0;
}

h1, h2, h3 {
	font-family: 'Great Vibes', cursive;
}

a {
	color: white;
}

.letter {
	font-size: 5vw;

	background: white;
	color: #333;
}

.letter a {
	color: #111;
}

.letter__background {
	display: block;
	width: 100%;
	height: auto !important;
}

.letter__content {
	display: block;
	padding: 7vw;
}

.letter__title {
  font-size: 2.5em;
	margin-top: 0;
}

.letter__signature {
	font-style: italic;
	margin-top: 1.5em;
}



@media (min-width: 32.5em) {

	.letter {
		font-size: 4vw;
	}

}



@media (min-width: 37.5em) {

	.letter {
		font-size: 3vw;
	}

}



@media (min-width: 50em) {

	.letter {
		font-size: 2.5vw;
		width: 80vw;
	}

}



@media (min-width: 70em) {

	.letter {
		font-size: 2vw;
	}

}
