/*------------------------------------*\
  PDCTO - Positioning, Display & Box
	Model, Color, Text, Other
\*------------------------------------*/

/*------------------------------------*\
  Animations
\*------------------------------------*/

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
}

@-webkit-keyframes heartbeat {
	0%,
  48% {
		background-color: #060708;
	}

  50% {
    background-color: rgba(6, 11, 16, 0.9);
  }

  52%,
  55% {
    background-color: #060708;
  }

  57% {
    background-color: rgba(6, 11, 16, 0.9);
  }

  59%,
  72% {
    background-color: #060708;
  }

  74% {
    background-color: rgba(8, 16, 23, 0.8);
  }

  76%,
  80% {
    background-color: #060708;
  }

  82% {
    background-color: rgba(8, 16, 23, 0.8);
  }

  84%,
  100% {
    background-color: #060708;
  }
}

@keyframes heartbeat {
	0%,
  48% {
		background-color: #060708;
	}

  50% {
    background-color: rgba(6, 11, 16, 0.9);
  }

  52%,
  55% {
    background-color: #060708;
  }

  57% {
    background-color: rgba(6, 11, 16, 0.9);
  }

  59%,
  72% {
    background-color: #060708;
  }

  74% {
    background-color: rgba(8, 16, 23, 0.8);
  }

  76%,
  80% {
    background-color: #060708;
  }

  82% {
    background-color: rgba(8, 16, 23, 0.8);
  }

  84%,
  100% {
    background-color: #060708;
  }
}

@-webkit-keyframes baby {
  from {
    background-color: #060708;
  }

  to {
    background-color: transparent;
  }
}

@keyframes baby {
  from {
    background-color: #060708;
  }

  to {
    background-color: transparent;
  }
}

/*------------------------------------*\
  Code
\*------------------------------------*/

/**
 * Base
 **/

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html,
body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100%;

  margin: 0;
  padding: 0;
}

html {
	font-family: Lato, Arial, serif;
	font-size: 3vw;
	line-height: 1.4;
	padding: 0;
	margin: 0;
	text-align: center;

  background-color: #060708;
  background-image: url(../images/baby.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #daeefd;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

  text-align: center;

  background-color: #14273a;
}

.intro__title {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.intro__timer {
  font-size: 1.3em;
  margin: 0;
}



html.js body {
  -webkit-animation-delay: 0ms, 10000ms;
          animation-delay: 0ms, 10000ms;
  -webkit-animation-duration: 10000ms, 3000ms;
          animation-duration: 10000ms, 3000ms;
  -webkit-animation-fill-mode: both, forwards;
          animation-fill-mode: both, forwards;
  -webkit-animation-name: heartbeat, baby;
          animation-name: heartbeat, baby;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

html.js.is-time body {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

html.js .intro__title__one,
html.js .intro__title__two,
html.js .intro__timer {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

html.js.is-time .intro__title__one,
html.js.is-time .intro__title__two,
html.js.is-time .intro__timer {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

html.js .intro__title__one {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-delay: 10000ms;
          animation-delay: 10000ms;
}

html.js .intro__title__two {
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
  -webkit-animation-delay: 15000ms;
          animation-delay: 15000ms;
}

html.js .intro__timer {
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-delay: 20000ms;
          animation-delay: 20000ms;
}



@media (min-width: 30em) {

}



@media (min-width: 37.5em) {



}



@media (min-width: 56.25em) {



}



@media (min-width: 75em)  {

}
