// bower:scss
// endbower


/*------------------------------------*\
  PDCTO - Positioning, Display & Box
	Model, Color, Text, Other
\*------------------------------------*/

/*------------------------------------*\
  Variables
\*------------------------------------*/

$blue: #00CFCA;
$font: lighten(black, 20%);

$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

/*------------------------------------*\
  Mixins and Placeholders
\*------------------------------------*/

@mixin bp($point) {
	@if $point == tiny {
		@media (min-width: 30em) { @content; }
	}
	@else if $point == small {
		@media (min-width: 37.5em) { @content; }
	}
	@else if $point == medium {
		@media (min-width: 56.25em) { @content; }
	}
	@else if $point == large {
		@media (min-width: 75em)  { @content; }
	}
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------*\
  Code
\*------------------------------------*/

/**
 * Base
 **/

@font-face {
	font-family: 'Distant Galaxy';
	src: url('../fonts/DISTGRG_-webfont.eot');
	src: url('../fonts/DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DISTGRG_-webfont.woff') format('woff'),
	url('../fonts/DISTGRG_-webfont.ttf') format('truetype'),
	url('../fonts/DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html,
body {
	box-sizing: border-box;
	min-height: 100%;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
}

html {
	background-color: white;
	background-image: url(../img/happy-birthday/phil/imperial-interior.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $font;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	line-height: 1.45;
	text-align: center;

	@include bp("tiny") {
		font-size: 120%;
	}

	@include bp("small") {
		font-size: 140%;
	}
}

h1, h2, h3, h4, p, time {
	margin-top: 0;
	margin-bottom: 0;

	+ h1, + h2, + h3, + h4, + p, + time {
		margin-top: 1rem;
	}
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1, h2, h3 {
	font-family: 'Distant Galaxy';
}

h1 {
	background-color: black;
	border: 0.5rem solid $blue;
	border-radius: 0.5rem;
  font-size: 2em;
	padding: 1rem;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

p {

}

small {
	font-size: 0.8em;
}

ul,
ol {
	text-align: left;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: $blue;
	text-decoration: none;

	&:hover,
	&:focus {
		color: darken($blue, 20%);
	}
}

/**
 * Helpers
 **/

.remove {
	display: none;
}

.responsive-iframe {
	display: block;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
	}
}

.star-font {
	font-family: 'Distant Galaxy';
}

/**
 * Card
 **/

.card-holder {
	display: flex;
		align-items: center;
		justify-content: center;
	width: 100%;
	height: 100%;
	padding: 3em;
}

.card {
	position: relative;
	transform: rotate(-2deg) scale(0.9);

	display: block;
	width: 30em;
		max-width: 100%;
	height: 30em;
		max-width: 100%;
	padding: 1.5em;
	box-shadow: 0 0 1em black;

	transition: transform 500ms $easeOutQuint;
	transform-style: preserve-3d;
	perspective: 5000px;

	&:hover,
	&:focus,
	&:target,
	&.is-open {
		transform: none;

		.card__front-page .card__page-side-one {

			* {
				opacity: 0;
			}
		}
	}

	&:target,
	&.is-open {

		.card__front-page {
			transform: rotateY(-120deg);
		}
	}
}

.card__front-page,
.card__back-page {
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 100%;
	height: 100%;

	transition: transform 1000ms $easeOutQuint;
	transform-origin: center left;
	transform-style: preserve-3d;
}

.card__front-page {
	z-index: 2;

	.card__page-side-one {
		display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

		background-color: black;
		color: white;
		background-image:
			url(../img/happy-birthday/phil/vader-nooooooo.gif),
			url(../img/happy-birthday/phil/luke-nooooooo.gif);
		background-position:
			top center,
			bottom center;
		background-repeat: no-repeat;
		background-size: auto 50%;

		* {
			transition: all 300ms $easeOutQuint;
		}
	}

	.card__page-side-two {
		background-color: black;
		background-image:
			url(../img/happy-birthday/phil/jedi-party.gif),
			url(../img/happy-birthday/phil/sand-man-party.gif);
		background-position:
			top center,
			bottom center;
		background-repeat: no-repeat;
		background-size: 100% 50%;
	}
}

.card__back-page {
	background-color: white;
	z-index: 1;
}

.card__page-side-one,
.card__page-side-two {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
	padding: 2em;

	backface-visibility: hidden;
}

.card__page-side-two {
	background-color: darken(white, 10%);
	box-shadow: 0 0 1em black, -1em 0 5em -1em black inset;
	transform: rotateY(180deg);
}

.open-card,
.close-card {
	position: absolute;
	top: 50%;
	right: 0%;
	margin-top: -1.5em;

	display: block;
	width: 3em;
	height: 3em;
	border-radius: 50% 0 0 50%;

	background-color: rgba(white, 0.25);

	opacity: 1 !important;
	transition: transform 300ms $easeOutQuint;

	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -0.6em;

		display: block;
		width: 0;
		height: 0;
		border-top: 0.75em solid transparent;
		border-bottom: 0.75em solid transparent;

		content: "";
	}

	&:hover,
	&:focus {
		transform: scale(1.1);
	}
}

.open-card {

	&:after {
		border-left: 0.75em solid rgba(black, 0.25);
	}
}

.close-card {

	&:after {
		border-right: 0.75em solid rgba(black, 0.25);
	}
}



.signature {
	font-family: 'Italianno', cursive;
	font-size: 2.5em;
}



.ps {
	font-size: 50%;
}
