// bower:scss
// endbower


/*------------------------------------*\
  PDCTO - Positioning, Display & Box
	Model, Color, Text, Other
\*------------------------------------*/

/*------------------------------------*\
  Variables
\*------------------------------------*/

$medium-orchid: #BA55D3;
$violet: #EE82EE;
$plum: #DDA0DD;
$helio: #DF73FF;
$mauve: #E99EFF;

$cream: #FCF5EB;
$misty-rose: #FFE4E1;
$floral-white: #FFFAF0;
$ivory: #FFFFF0;

$primary: $ivory;
$secondary: $misty-rose;
$tertiary: $helio;
$font: lighten(black, 20%);

/*------------------------------------*\
  Mixins and Placeholders
\*------------------------------------*/

@mixin bp($point) {
	@if $point == tiny {
		@media (min-width: 30em) { @content; }
	}
	@else if $point == small {
		@media (min-width: 37.5em) { @content; }
	}
	@else if $point == medium {
		@media (min-width: 56.25em) { @content; }
	}
	@else if $point == large {
		@media (min-width: 75em)  { @content; }
	}
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------*\
  Animations
\*------------------------------------*/

.js {
  .wow {
    visibility: hidden;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate-slide-up {
	animation-name: slideUp;
}

.animate-fade-in {
	animation-name: fadeIn;
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(2em);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
}

/*------------------------------------*\
  Code
\*------------------------------------*/

/**
 * Base
 **/

*, *::before, *::after {
	box-sizing: inherit;
}

html,
body {
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
}

html {
	background-color: $primary;
	color: $font;
	font-family: 'Rosario', sans-serif;
	font-size: 100%;
	line-height: 1.45;
	padding: 0;
	margin: 0;
	text-align: center;
	@include bp("tiny") {
		font-size: 120%;
	}
}

body {
	overflow-y: scroll;
	perspective: 1px;
	transform-style: preserve-3d;
}

h1, h2, h3, h4, p, time {
	margin-top: 0;
	margin-bottom: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1, h2, h3 {
	font-family: 'Great Vibes', cursive;
}

h1 {
  font-size: 2.441em;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

p {

}

small {
	font-size: 0.8em;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: $tertiary;
}

/**
 * Header
 **/

.page-header {
	position: relative;
	overflow: hidden;

	height: 100%;

	transform-style: inherit;

	@include bp("tiny") {
		height: 23em;
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		background-color: $secondary;
		background-image: url(../img/tiny/band-stand-embrace.jpg);
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;

		content: "";
		transform: translateZ(-1px) scale(2);

		@include bp("tiny") {
			background-attachment: fixed;
			transform: none;
		}
		@include bp("small") {
			background-image: url(../img/small/band-stand-embrace.jpg);
		}
		@include bp("medium") {
			background-image: url(../img/medium/band-stand-embrace.jpg);
			background-position: center 30%;
		}
		@include bp("largest") {
			background-image: url(../img/large/band-stand-embrace.jpg);
		}
	}

	.header-content {
		position: absolute;
		bottom: 2em;
		left: 0;

		display: block;
		width: 100%;

		color: $primary;

		text-align: center;
		text-shadow: 1px 1px 1px $font;
	}
	.header-title {
		margin: 0;
		@include bp("tiny") {
			font-size: 2.441em * 1.5;
		}
	}
	.header-date {

	}
}

.box {
	padding: 2.5em 1.5em;
	@include bp("small") {
		padding: 3.5em 2.5em;
	}

	.box-title {
		line-height: 1;
	}
	.box-caption {

	}
}

.boxes-grid {
	@extend %clearfix;
	@include bp("medium") {
		position: relative;

		display: flex;
		align-items: center;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			background-color: $secondary;
			background-image: url(../img/medium/flower.jpg);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			display: block;
			height: 100%;
			width: 100%;

			content: "";
			opacity: 0.25;
		}
	}
	@include bp("large") {
		&:before {
			background-image: url(../img/large/flower.jpg);
		}
	}
	.box {
		@include bp("medium") {
			float: left;
			width: 50%;
		}
	}
}

.box-ceremony,
.box-reception {

}

.constrain-copy {
	margin-left: auto;
	margin-right: auto;
	max-width: 35em;
}

.copy {
	> *:last-child {
		margin-bottom: 0;
	}
}

.btn-cta {
	display: inline-block;
	border-radius: 0.25em;
	padding: 0.75em 1em;

	background-color: $tertiary;
	color: $primary;

	text-decoration: none;

	transition: background-color 100ms ease;

	&:hover,
	&:focus {
		background-color: darken($tertiary, 10%);
	}
}

.divider-figure {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	@include bp("small") {
		position: relative;

		height: 15em;
		overflow: hidden;
	}

	.figure-image {
		display: block;
		width: 100%;
		@include bp("small") {
			position: absolute;
			left: 0;

			&.image-align-center {
				top: -50%;
			}
			&.image-align-top {
				top: 0;
			}
			&.image-align-bottom {
				bottom: 0;
			}
		}
	}
}

.page-footer {
	position: relative;

	background-color: $secondary;
	background-image: linear-gradient($secondary 0%, transparent 60%), url(../img/tiny/walking-away.jpg);
	background-position-x: center !important;
	background-position-y: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 15em;

	color: $primary;

	text-shadow: 1px 1px 1px $font;
	@include bp("small") {
		background-image: linear-gradient($secondary 0%, transparent 60%), url(../img/small/walking-away.jpg);
	}
	@include bp("medium") {
		background-image: linear-gradient($secondary 0%, transparent 60%), url(../img/medium/walking-away-landscape.jpg);
	}
	@include bp("largest") {
		background-image: linear-gradient($secondary 0%, transparent 60%), url(../img/large/walking-away-landscape.jpg);
	}

	.countdown-clock {

	}
	.countdown {
		white-space: nowrap;
	}
}
