// bower:scss
// endbower


/*------------------------------------*\
  PDCTO - Positioning, Display & Box
	Model, Color, Text, Other
\*------------------------------------*/

/*------------------------------------*\
  Variables
\*------------------------------------*/

$medium-orchid: #BA55D3;
$violet: #EE82EE;
$plum: #DDA0DD;
$helio: #DF73FF;
$mauve: #E99EFF;

$cream: #FCF5EB;
$misty-rose: #FFE4E1;
$floral-white: #FFFAF0;
$ivory: #FFFFF0;

$primary: $ivory;
$secondary: $misty-rose;
$tertiary: $plum;
$font: lighten(black, 20%);

$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

/*------------------------------------*\
  Mixins and Placeholders
\*------------------------------------*/

@mixin bp($point) {
	@if $point == tiny {
		@media (min-width: 30em) { @content; }
	}
	@else if $point == small {
		@media (min-width: 37.5em) { @content; }
	}
	@else if $point == medium {
		@media (min-width: 56.25em) { @content; }
	}
	@else if $point == large {
		@media (min-width: 75em)  { @content; }
	}
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------*\
  Animations
\*------------------------------------*/

.js {
  .wow {
    visibility: hidden;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate-fade-in {
	animation-name: fade-in;
	animation-timing-function: $easeOutQuint;
}

.animate-fade-up {
	animation-name: fade-up;
	animation-timing-function: $easeOutQuint;
}

.animate-fade-down {
	animation-name: fade-down;
	animation-timing-function: $easeOutQuint;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-up {
	from {
		opacity: 0;
		transform: translateY(2rem);
	}
}

@keyframes fade-down {
	from {
		opacity: 0;
		transform: translateY(-2rem);
	}
}

/*------------------------------------*\
  Code
\*------------------------------------*/

/**
 * Base
 **/

*, *::before, *::after {
	box-sizing: inherit;
}

html,
body {
	box-sizing: border-box;
	min-height: 100%;
	overflow-x: hidden;
	width: 100%;
}

html {
	background-color: $primary;
	color: $font;
	font-family: 'Lora', serif;
	font-size: 100%;
	line-height: 1.45;
	padding: 0;
	margin: 0;
	text-align: center;
	@include bp("tiny") {
		font-size: 120%;
	}
	@include bp("small") {
		font-size: 140%;
	}
}

h1, h2, h3, h4, p, time {
	margin-top: 0;
	margin-bottom: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1, h2, h3 {
	font-family: 'Great Vibes', cursive;
}

h1 {
  font-size: 2.441em;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

p {

}

small {
	font-size: 0.8em;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: $tertiary;
	text-decoration: none;
	&:hover,
	&:focus {
		color: darken($tertiary, 20%);
	}
}

/**
 * Konami Code
 **/

.js {
	.konami-code {

	}
}

.white-popup {
  position: relative;
  background: white;
  padding: 2em;
  width: auto;
  max-width: 25em;
  margin: 2em auto;
}

/**
 * Header
 **/

.page-header {
	position: relative;
	overflow: hidden;

	padding: 15em 1em 3em;

	background-color: $secondary;
	background-image: url(../img/tiny/little-bear-squeeze-tall.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	&:hover,
	&:focus {
		.header-content {
			text-shadow: 1px 1px 3px $font;
			transform: scale(1.1);
		}
	}

	@include bp("small") {
		background-image: url(../img/medium/little-bear-squeeze-tall.jpg);
	}
	@include bp("medium") {
		background-image: url(../img/large/little-bear-squeeze.jpg);
		background-position: center;
	}
	@include bp("large") {
		background-image: url(../img/little-bear-squeeze.jpg);
		background-position: center bottom;
	}

	.header-content {
		color: $primary;

		text-align: center;
		text-shadow: 1px 1px 1px $font;

		transition: all $easeOutQuint 400ms;

		@include bp("tiny") {
			font-size: 1.5rem;
		}
		@include bp("small") {
			font-size: 1.75rem;
		}
	}
	.header-title {
		margin: 0;
	}
	.header-date {

	}
}



.timeline-navigaton {
	background-color: $secondary;

	@include bp("medium") {
		padding: 2.5em 1.5em;
	}

	.js & {
		display: none;

		&.is-targeted {
			display: block;
		}
	}
}

.navigation-list {
	@extend %clearfix;
	display: block;
	width: 35em;
		max-width: 100%;

	list-style: none;
	margin: 0 auto;
	padding: 0;

	text-align: left;
	text-indent: 1.5em;

	counter-reset: navigation;
}

.navigation-item {
	position: relative;
	display: block;
	border: 1px solid $primary;

	+ .navigation-item {
		border-top-width: 0;
	}
}

.navigation-link,
.navigation-link--skip-counter {
	display: block;
	padding: 1em;

	background-color: $tertiary;
	color: white;

	transition: background $easeOutQuint 300ms;

	&:hover,
	&:focus {
		background-color: darken($tertiary, 20%);
		color: white;
	}
}

.navigation-link {
	&:before {
		counter-increment: navigation;
		content: counter(navigation) ". ";
	}
}

/**
 * Content
 **/

.box {
	padding: 2.5em 1.5em;

	@include bp("small") {
		padding: 3.5em 2.5em;
	}

	.box-title {
		line-height: 1;
	}
}

.box--breakout {
	position: relative;

	padding: 1.5em 1em;

	color: $primary;

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		display: block;
		height: 100%;
		width: 100%;

		background-color: $secondary;
		background-image: url(../img/tiny/flower.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		content: "";
		opacity: 0.25;
	}

	@include bp("small") {
		padding: 3em 2em;
	}

	.box-title {
		line-height: 1;
		margin: 0;
	}

	.breakout-link {
		display: block;
		color: darken($tertiary, 20%);
		transition: all $easeOutQuint 300ms;

		&:hover,
		&:focus {
			color: darken($tertiary, 40%);
		}

		&.target-activated {
			color: darken($tertiary, 40%);
			transform: scale(1.1);
		}
	}
}

.timeline {

}

.timeline-section {

	@include bp("medium") {
		display: flex;
			flex-direction: row;

		min-height: 80vh;

		&:nth-child(even) {
			.timeline-section-content {
				align-self: center;
				order: 2;
				padding-left: 4em;
				padding-right: 2em;
			}

			.timeline-section-aside {
				order: 1;
			}
		}
	}

	.timeline-section-content {
		max-width: 30em;
		margin: 0 auto;
		padding: 2.5em 1.5em;
		text-align: left;

		@include bp("medium") {
			flex: 1;
			min-width: 50%;
			padding: 3em 2em 3em 4em;
		}
	}

	.timeline-section-aside {
		background-color: $secondary;
		min-height: 20em;
		overflow: hidden;

		@include bp("medium") {
			flex: 1;
		}

		.mosiac-tile {

		}
	}
}

.mosiac {
	position: relative;

	&.tiles--2-vert {
		.mosiac-tile {
			top: 0;
			width: 50%;
			height: 100%;

			&:nth-child(1) {
				left: 0;
			}
			&:nth-child(2) {
				left: 50%;
			}
		}
	}

	&.tiles--2-horz {
		.mosiac-tile {
			left: 0;
			width: 100%;
			height: 50%;

			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: 50%;
			}
		}
	}

	&.tiles--1-vert--2-horz {
		.mosiac-tile {
			width: 50%;

			&:nth-child(1) {
				top: 0;
				left: 0;

				height: 100%;
			}
			&:nth-child(2),
			&:nth-child(3) {
				left: 50%;
				height: 50%;
			}
			&:nth-child(2) {
				top: 0;
			}
			&:nth-child(3) {
				top: 50%;
			}
		}
	}

	&.tiles--2-horz--1-vert {
		.mosiac-tile {
			width: 50%;

			&:nth-child(1),
			&:nth-child(2) {
				left: 0;
				height: 50%;
			}
			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: 50%;
			}
			&:nth-child(3) {
				top: 0;
				left: 50%;

				height: 100%;
			}
		}
	}

	&.tiles--1-standalone {

		.mosiac-tile {
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
		}
	}

	&.tiles--2-switch {

		&:hover,
		&:focus {
			.mosiac-tile {
				&:nth-child(1) {
					.mosiac-image {
						opacity: 0;
					}
				}
			}
		}

		.mosiac-tile {
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			&:nth-child(1) {
				z-index: 2;
			}

			&:nth-child(2) {
				z-index: 1;
			}
		}
	}

	.mosiac-tile {
		position: absolute;
	}
}

.mosiac-tile {
	overflow: hidden;
	transition: all $easeOutQuint 400ms;

	.mosiac-image {
		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width: 100%;
	}
}

.mosiac-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	transition: all $easeOutQuint 400ms;

	&:hover,
	&:focus {
		transform: scale(1.1);
	}
}

.constrain-copy {
	margin-left: auto;
	margin-right: auto;
	max-width: 35em;
}

.copy {
	> *:last-child {
		margin-bottom: 0;
	}
}

.btn-cta {
	display: inline-block;
	border-radius: 0.25em;
	padding: 0.75em 1em;

	background-color: $tertiary;
	color: $primary;

	text-decoration: none;

	transition: background-color 100ms ease;

	&:hover,
	&:focus {
		background-color: darken($tertiary, 10%);
		color: $primary;
	}
}

/**
 * Footer
 **/

.page-footer {
	position: relative;

	padding-bottom: 110vh;

	background-color: $secondary;
	background-image: linear-gradient($secondary 0%, transparent 60%), url(../img/tiny/walking-away.jpg);
	background-position-x: center !important;
	background-position-y: bottom;
	background-size: cover;
	background-repeat: no-repeat;

	color: $primary;

	text-shadow: 1px 1px 1px $font;

	@include bp("small") {
		background-image: linear-gradient($secondary 0%, transparent 60%), url(../img/small/walking-away.jpg);
	}
	@include bp("medium") {
		background-image: linear-gradient($secondary 0%, transparent 60%), url(../img/medium/walking-away-wide.jpg);
	}
	@include bp("large") {
		background-image: linear-gradient($secondary 0%, transparent 60%), url(../img/large/walking-away-wide.jpg);
	}
}
