---
title: Happy Birthday Gemma!!!
layout: happy-birthday--phil.hbs
---

<div class="card-holder">
  <article id="card" class="card">
    <div class="card__front-page">
      <div class="card__page-side-one">
        <h1 class="star-font">Another year, more candles on the cake but have no fear...</h1>

        <a class="open-card" href="#card"><span class="remove">Open card</span></a>
      </div>
      <div class="card__page-side-two"></div>
    </div>
    <div class="card__back-page">
      <div class="card__page-side-one">
        <h2 class="star-font">...age matters not!</h2>
        <p>
          Sorry this was a little late getting to you pal!!! Go have a party like this stormtrooper :D
        </p>
        <p style="width: 80%; margin-left: auto; margin-right: auto;">
          <span class="responsive-iframe">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/R8kDsM0M-vg" frameborder="0" allowfullscreen></iframe>
          </span>
        </p>
        <p>
          Hope you've had a great day! Chill out and enjoy every minute!!! :D
        </p>
        <p>
          Much love and bro hugs!
          <br />
          Liam and Gemma
        </p>

        <a class="close-card" href="#card"><span class="remove">Open card</span></a>
      </div>
      <div class="card__page-side-two"></div>
    </div>
  </article>
</div>
