---
title: Happy Birthday Gemma!!!
layout: happy-birthday.hbs
---

<div class="card-holder">
  <article id="card" class="card">
    <div class="card__front-page">
      <div class="card__page-side-one">
        <h1>Happy birthday!!!</h1>

        <a class="open-card" href="#card"><span class="remove">Open card</span></a>
      </div>
      <div class="card__page-side-two"></div>
    </div>
    <div class="card__back-page">
      <div class="card__page-side-one">
        <p>
          To my darling wife,
        </p>
        <p>
          Sorry I stayed up so late last night to make this! It's not as finished as I wanted it to be. I hope it was a nice surprise and something a little different for you :D
        </p>
        <p>
          24 and still going strong Mighty Mouse!!! You look more beautiful with each passing day!
        </p>
        <p>
          Lots of love, kisses and big bear cuddles,
          <br />
          your very own big bear,
        </p>
        <p class="signature">
          Liam
        </p>
        <p>
          xxx ʕ•ᴥ•ʔ <small>ʕ•ᴥ•ʔ</small> xxx
        </p>
        <p>
          <small class="ps">Ps. please don't read on mobile I didn't have time to make this responsive</small>
        </p>

        <a class="close-card" href="#card"><span class="remove">Open card</span></a>
      </div>
      <div class="card__page-side-two"></div>
    </div>
  </article>
</div>
