---
title: The Wedding
---
<section id="home" class="hero-full hero-title">
    <div class="hero-center">
      <h1 class="badge">
          <span class="badge-name">Liam</span> <span class="badge-verb">and</span> <span class="badge-name">Gemma's</span> <span class="badge-verb">Wedding</span>
      </h1>
      <div class="countdown-clock">
          <time class="datetime" datetime="2015-04-07">4<sup>th</sup> July 2015</time>
      </div>
    </div>
</section>

<div class="main-section">
    <section id="the-story" class="content-section">
        <h2>The Story</h2>
        <div class="content-constrain">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, labore, eius aut eum quos veritatis esse accusantium porro odit libero unde voluptate. Odio, eos eum necessitatibus doloribus sed pariatur at.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, exercitationem, vel, aut, consectetur eum rem officiis architecto sapiente commodi quia asperiores est consequatur possimus doloremque iure nam officia? Fugiat, repudiandae.</p>
        </div>
        <!-- <ul class="list-gallery">
            <li>
                <img src="//placehold.it/350x150" alt="Placeholder">
            </li>
            <li>
                <img src="//placehold.it/350x150" alt="Placeholder">
            </li>
            <li>
                <img src="//placehold.it/350x150" alt="Placeholder">
            </li>
            <li>
                <img src="//placehold.it/350x150" alt="Placeholder">
            </li>
            <li>
                <img src="//placehold.it/350x150" alt="Placeholder">
            </li>
            <li>
                <img src="//placehold.it/350x150" alt="Placeholder">
            </li>
        </ul> -->
    </section>

    <section id="the-ceremony" class="hero-full content-section">
        <h2>The Ceremony</h2>
    </section>

    <section id="reception" class="hero-full hero-reception content-section">
        <h2>The Reception</h2>
    </section>
</div>

<footer id="the-countdown" class="footer content-section">
    <div class="content-constrain">
        <div class="countdown-clock">
            <h2>Let the countdown begin!</h2>
            <div id="countdown" class="countdown"></div>
        </div>
    </div>
    <hr />
    <ul class="list-profiles">
        <li class="profile-item">
            <img class="profile-image" src="img/liam.jpg" alt="Liam Walsh">
        </li>
        <li class="profile-item">
            <img class="profile-image" src="img/gemma.jpg" alt="Gemma Lamb">
        </li>
    </ul>
</footer>
