---
title: The Wedding
---

<header id="home" class="page-header">
  <div class="header-content">
    <h1 class="header-title">Liam and Gemma</h1>
    <time class="header-date datetime" datetime="2015-04-07">4<sup>th</sup> July 2015</time>
  </div>
</header>

<main class="page-main">
  <article class="box">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </article>

  <article id="the-story" class="box">
    {{#each timeline }}
      <header>
        <h1 class="box-title">{{ title }}</h1>
      </header>
      <section class="copy constrain-copy">
        <ul>
          {{#each (files images) }}
            <li>
              <img src="{{ src }}" alt="{{ name }}" />
            </li>
          {{/each }}
        </ul>
      </section>
    {{/each }}
  </article>
</main>

<footer id="the-countdown" class="page-footer box">
  <div class="footer-content constrain-copy">
    <div class="countdown-clock">
      <h2>Footer shizzle</h2>
    </div>
    <div class="konami-code">
      <h2>We've been married...</h2>
      <div id="marriage-timer"></div>
    </div>
  </div>
</footer>
