<meta charset="utf-8">
<title>{{ title }} | {{ website }}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="/favicon.ico">

<link href='http://fonts.googleapis.com/css?family=Great+Vibes|Rosario:400,400italic,700,700italic|Changa+One:400,400italic' rel='stylesheet' type='text/css'>

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(.) css/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="../../bower_components/normalize-css/normalize.css" />
<!-- endbower -->
<!-- endbuild -->

<!-- build:css(.tmp) css/main.css -->
<link rel="stylesheet" href="css/main.css">
<!-- endbuild -->

<!-- build:js js/vendor/modernizr.js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->
